<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.sharding.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seal.sharding.user.entity.User">
        <result column="id" property="id"/>
        <result column="crt_time" property="crtTime"/>
        <result column="upd_time" property="updTime"/>
        <result column="crt_user" property="crtUser"/>
        <result column="upd_user" property="updUser"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tel_phone" property="telPhone"/>
        <result column="password" property="password"/>
        <result column="union_id" property="unionId"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
    </resultMap>


    <!--根据id物理删除该数据 -->
    <delete id="delPhysicalById">
        delete from t_user where id=#{id}
    </delete>
</mapper>
